/* #############################################################################################################################################
PHONE SCREEN SIZE (START)
############################################################################################################################################# */
@media only screen and (min-width: 600px) {

  /* =============================================================================================================================================
  GLOBAL (START)
  ============================================================================================================================================= */
  body {
    font-family: 'Sacramento', cursive;
    color: #686868;
  }

  a {
    color: #16c79a;
  }

  .alt_font {
    font-family: 'Playfair Display', serif;
  }

  .hr_logo_container {
    text-align: center;
    margin: 7% auto;
  }

  .hr_logo {
    width: 7%;
    opacity: 0.6;
  }

  /* =============================================================================================================================================
  GLOBAL (END)
  ============================================================================================================================================= */
  /* =============================================================================================================================================
  HEADER SECTION (START)
  ============================================================================================================================================= */
  .logo_container {
    background-color: #fffcd7;
    width: 100%;
    height: 18%;
    text-align: center;
    position: fixed;
    top: 0px;
    z-index: 1000;
  }

  .main_logo_img_container {
    font-size: 3rem;
  }

  .main_logo_img {
    margin: 10% auto 0;
    height: 35%;
  }

  /* =============================================================================================================================================
  HEADER SECTION (END)
  ============================================================================================================================================= */
  /* =============================================================================================================================================
  FLAVOURS SECTION (START)
  ============================================================================================================================================= */
  .available_now_container {
    margin: 0 0;
    text-align: center;
    max-width: 100%;
  }

  .available_now_row {
    max-width: 100%;
  }

  .about_section_main_div {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .available_now_col {
    width: 460px;
  }

  /* .available_now_col_side {
    width: 5px;
  } */
  .available_now_header {
    margin-top: 23rem;
    font-size: 6rem;
    color: #686868;
  }

  .egg_roll_image_container{
    text-align: center;
    margin: auto auto 1000px;
  }
  .plain_rolls_img {
    width: 100%;
    transform: rotate(90deg);
    position: relative;
    top: 500px;
  }

  /* .flavours_img_container {
    width: 100%;
    padding: 0 0;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
  } */

  /* .flavours_img_row {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
  } */

  .flavours_img_col {
    padding: 0 0;
  }

  .flavours_img {
    width: 100%;
  }

  /* =============================================================================================================================================
  FLAVOURS SECTION (END)
  ============================================================================================================================================= */
  /* =============================================================================================================================================
  ABOUT SECTION (START)
  ============================================================================================================================================= */
  .about_section_header {
    font-size: 6rem;
    text-shadow: 2px 2px white;
  }

  .about_name_section_container {
    margin-top: 300px;
    max-width: 100%;
    background-image: url("image/about_goal_bg.png");
    background-size: cover;
  }

  .about_section_paragraph_subheader {
    font-size: 4rem;
    margin-top: 10%;
  }

  .about_name_section_col_left {
    text-align: center;
    font-size: 2.5rem;
    padding-right: 4rem;
    padding-left: 4rem;
  }

  .about_name_section_col_right {
    text-align: center;
    font-size: 2.5rem;
    padding-right: 4rem;
    padding-left: 4rem;
  }

  .social_media_section {
    background-color: #fffcd7;
    text-align: center;
    margin-top: 5%;
    padding: 0 0;
    padding-bottom: 7%;
  }

  .contact_button {
    width: 400px;
    height: 120px;
    border-radius: 80px;
    font-size: 3rem;
    background-color: white;
    margin: 5% auto;
  }

  .social_media_icon {
    width: 100px;
    background-color: white;
    border-radius: 25px;
    margin-top: 3%;
  }

  .social_media_icon_text {
    font-size: 4rem;
    color: black;
    background-color: white;
  }

  .social_media_ig_hashtag {
    color: black;
    font-size: 3rem;
  }

  /* =============================================================================================================================================
  ABOUT SECTION (END)
  ============================================================================================================================================= */
  /* =============================================================================================================================================
  ORDER SECTION (START)
  ============================================================================================================================================= */
  .order_section_main_div {
    /* background-color: #fffcd7; */
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .order_section_order_text {
    font-size: 3rem;
    margin-bottom: 15%;
    margin: auto auto;
    width: 400px;
  }

  .order_button {
    font-size: 7rem;
    width: 400px;
    height: 200px;
    border-radius: 100px;
  }

  /* =============================================================================================================================================
  ORDER SECTION (END)
  ============================================================================================================================================= */
  /* =============================================================================================================================================
  SOCIAL MEDIA SECTION (START)
  ============================================================================================================================================= */
  .social_media_container {
    text-align: center;
    max-width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #fffcd7;
  }

  .social_media_about_link_div {
    padding-top: 6%;
    padding-bottom: 6%;
  }
  .about_link {
    color: black;
    font-size: 6rem;
  }
  /* =============================================================================================================================================
  SOCIAL MEDIA SECTION (END)
  ============================================================================================================================================= */
  /* =============================================================================================================================================
  ORDER QNA SECTION (START)
  ============================================================================================================================================= */
  .qna_logo_img{
      width: 100%;
      margin-bottom: 15%;
    }

  .order_qna_section_container {
    max-width: 100%;
    margin-top: 1%;
    font-family: 'Playfair Display', serif;
  }

  .order_qna_section_header {
    font-size: 5rem;
  }

  .order_qna__section_paragraph_subheader {
    font-size: 3rem;
    margin-top: 10%;
  }

  .order_qna_section_paragraph {
    text-align: left;
  }

  /* =============================================================================================================================================
  ORDER QNA SECTION (END)
  ============================================================================================================================================= */
}

/* #############################################################################################################################################
PHONE SCREEN SIZE (END)
############################################################################################################################################# */
/* #############################################################################################################################################
PC SCREEN SIZE (START)
############################################################################################################################################# */
@media only screen and (min-width: 992px) {

  /* =============================================================================================================================================
  GLOBAL (START)
  ============================================================================================================================================= */
  body {
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
    color: #686868;
  }

  a {
    color: #16c79a;
  }

  .alt_font {
    font-family: 'Playfair Display', serif;
  }

  .hr_logo_container {
    text-align: center;
    margin: 0.5% auto;
  }

  .hr_logo {
    width: 40px;
    opacity: 0.6;
  }

  /* =============================================================================================================================================
  GLOBAL (END)
  ============================================================================================================================================= */
  /* =============================================================================================================================================
  HEADER SECTION (START)
  ============================================================================================================================================= */
  .logo_container {
    background-color: #fffcd7;
    width: 100%;
    height: 9rem;
    text-align: center;
    position: fixed;
    top: 0px;
    z-index: 1000;
  }

  .main_logo_img_container {
    font-size: 1rem;
    margin: 0 0;
  }

  .main_logo_img {
    margin: 4% auto 0;
    height: 18%;
  }

  /* =============================================================================================================================================
  HEADER SECTION (END)
  ============================================================================================================================================= */
  /* =============================================================================================================================================
  FLAVOURS SECTION (START)
  ============================================================================================================================================= */
  .available_now_container {
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
  }

  .about_section_main_div {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .available_now_col_side {
    width: 10px;
  }

  .available_now_header {
    margin-top: 10.5rem;
    font-size: 4rem;
    color: #686868;
  }

  .egg_roll_image_container{
    text-align: center;
    margin: 7% auto;
  }
  .plain_rolls_img {
    width: 80%;
    transform: rotate(0deg);
    position: relative;
    top: 20px;
  }

  .flavours_img_container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }

  .flavours_img_row {
    max-width: 100%;
  }

  .flavours_img_col {
    align-items: center;
  }

  .flavours_img {
    width: 100%;
  }

  /* =============================================================================================================================================
  FLAVOURS SECTION (END)
  ============================================================================================================================================= */
  /* =============================================================================================================================================
  ABOUT SECTION (START)
  ============================================================================================================================================= */
  .about_section_header {
    font-size: 4rem;
    text-shadow: 2px 2px white;
  }

  .about_name_section_container {
    margin-top: 100px;
    max-width: 100%;
    background-image: url("image/about_goal_bg.png");
    background-size: cover;
  }

  .about_section_paragraph_subheader {
    font-size: 2rem;
    margin-top: 5%;
  }



  .about_section_paragraph {
    margin: 3% auto;
  }

  .about_name_section_col_left {
    text-align: left;
    font-size: 1.2rem;
    padding-right: 2rem;
    padding-left: 10rem;
  }

  .about_name_section_col_right {
    text-align: left;
    font-size: 1.2rem;
    padding-right: 10rem;
    padding-left: 2rem;
  }

  .social_media_section {
    background-color: #fffcd7;
    text-align: center;
    margin-top: 5%;
    padding: 0 0;
    padding-bottom: 5%;
    position: relative;
  }

  .contact_button {
    width: 220px;
    height: 70px;
    border-radius: 50px;
    font-size: 2rem;
    background-color: white;
  }

  .social_media_icon {
    width: 50px;
    background-color: white;
    border-radius: 5px;
  }

  .social_media_icon_text {
    font-size: 3rem;
    color: black;
    background-color: white;
  }

  .social_media_ig_hashtag {
    color: black;
    font-size: 2rem;
  }

  .social_media_about_link_div {
    padding-top: 2%;
    padding-bottom: 1%;
  }
  .about_link {
    color: black;
    font-size: 4rem;
  }
  /* =============================================================================================================================================
  ABOUT SECTION (END)
  ============================================================================================================================================= */
  /* =============================================================================================================================================
  ORDER SECTION (START)
  ============================================================================================================================================= */
  .order_section_main_div {
    /* background-color: #fffcd7; */
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .order_section_order_text {
    font-size: 2rem;
    margin-bottom: 5%;
    margin: auto auto;
    width: 500px;
  }

  .order_button {
    font-size: 3rem;
    width: 200px;
    height: 90px;
    border-radius: 80px;
  }

  /* =============================================================================================================================================
  ORDER SECTION (END)
  ============================================================================================================================================= */
  /* =============================================================================================================================================
  ORDER QNA SECTION (START)
  ============================================================================================================================================= */
  .qna_logo_img{
    width: 100%;
    margin-bottom: 15%;
  }

  .order_qna_section_container {
    max-width: 100%;
    /* margin-top: 8%; */
    font-family: 'Playfair Display', serif;
  }

  .order_qna_section_header {
    font-size: 3rem;
  }

  .order_qna__section_paragraph_subheader {
    font-size: 2rem;
    margin-top: 10%;
  }

  .order_qna_section_paragraph {
    text-align: left;
    font-size: 1rem;
  }

  /* =============================================================================================================================================
  ORDER QNA SECTION (END)
  ============================================================================================================================================= */
}

/* #############################################################################################################################################
PC SCREEN SIZE (END)
############################################################################################################################################# */
